@charset "UTF-8";
/* 回答はここから */
.one-box {
  display: flex;
  justify-content: center;
}
.li {
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  width: 200px;
  background: #d2b48c;
  padding: 10px;
  margin: 30px;
  list-style: none;
}