.box1 {
  width: 400px;
  height: 400px;
  background-color: #ff0000;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .box1 {
    width: 200px;
    height: 200px;
    background-color: #ff0000;
    margin: 0 auto;
  }
}
.box2 {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
  margin: 0 auto;
}
@media screen and (max-width: 959px) {
  .box2 {
    width: 300px;
    height: 300px;
    background-color: #007bff;
    margin: 0 auto;
  }
}
.box-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box3 {
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  margin-right: 75px;
}
.box4 {
  width: 300px;
  height: 300px;
  background-color: #22ff00;
  margin-left: 75px;
}
@media screen and (max-width: 959px) {
  .box3 {
    width: 300px;
    height: 300px;
    background-color: #0008ff;
    margin-right: 25px;
  }
}
@media screen and (max-width: 959px) {
  .box4 {
    width: 300px;
    height: 300px;
    background-color: #22ff00;
    margin-left: 25px;
  }
}
.box-section2 {
  width: 600px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.box5 {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
  float: right;
}
.box6 {
  width: 300px;
  height: 300px;
  background-color: #0008ff;
  float: right;
}
@media screen and (max-width: 959px) {
  .box5 {
  width: 300px;
  height: 300px;
  background-color: #ff0000;
  float: none;
  }
}
@media screen and (max-width: 959px) {
  .box6 {
    width: 300px;
    height: 300px;
    background-color: #0008ff;
    float: none;
  }
}
.box-section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box7 {
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
}
.box7:nth-child(1) {
  background-color: #ff0000;
}
.box7:nth-child(2) {
  background-color: #0008ff;
}
.box7:nth-child(3) {
  background-color: #ff8400;
}
@media screen and (max-width: 959px) {
  .box-section3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
.box-section4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box8 {
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
}
.box8:nth-child(1) {
  background-color: #00ff51;
  order: 1;
}
.box8:nth-child(2) {
  background-color: #d4ff00;
  order: 2;
}
.box8:nth-child(3) {
  background-color: #ff00e1;
  order: 3;
}
@media screen and (max-width: 959px) {
  .box8:nth-child(1) {
    background-color: #00ff51;
    order: 2;
  }
}
@media screen and (max-width: 959px) {
  .box8:nth-child(2) {
    background-color: #d4ff00;
    order: 3;
  }
}
@media screen and (max-width: 959px) {
  .box8:nth-child(3) {
    background-color: #ff00e1;
    order: 1;
  }
}
.box-section5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box9 {
  width: 300px;
  height: 300px;
}

@media screen and (min-width: 960px) {
  .box9:nth-child(1) {
    background-color: #0008ff;
    display: none;
  }
}
.box9:nth-child(2) {
  background-color: #ff0000;
}
.box9:nth-child(3) {
  background-color: #00ff51;
}
.box9:nth-child(1) {
  background-color: #0008ff;
}
@media screen and (max-width: 959px) {
  .box9:nth-child(2) {
    background-color: #ff0000;
    display: none;
  }
}
