@charset "UTF-8";
.box-section {
  width: 500px;
  padding: 20px;
  line-height: 16px;
  background-color: #fad296;
  border: solid 5px #815a0a;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
}
.li {
  font-size: 16px;
}
.box-section::before {
  content: "";
  position: absolute;
  bottom: -38px;
  left: 10%;
  transform: translateX(-50%);
  border: 20px solid transparent;
  border-top: 20px solid #fad296;
  z-index: 2;
}
.box-section::after {
  content: "";
  position: absolute;
  bottom: -45px;
  left: 10%;
  transform: translateX(-50%);
  border: 20px solid transparent;
  border-top: 20px solid #815a0a;
  z-index: 1;
}