@charset "UTF-8";
.picture {
  height: 500px;
}
.imag1 {
  background: url(../../image/coffee-background.jpg);
}
.imag2 {
  background: url(../../image/coffee-background.jpg) no-repeat;
}
.imag3 {
  background: url(../../image/coffee-background.jpg) no-repeat center/cover;
}
.imag4 {
  background: url(../../image/coffee-background.jpg) no-repeat center/contain;
}